<div class="modal-header">
  <button class="close-btn" (click)="closeModal()">X</button>
</div>

<h3>Editing Plant: {{ selectedPlant?.common_name }}</h3>
<h3>Last watered: {{ formatLastWatered(selectedPlant?.last_watered) }}</h3>

<input
  #plantNameInput
  class="custom-input"
  matInput
  placeholder="Enter new plant name"
/>

<br />

<h3>Edit date last watered</h3>
<input
  matInput
  [matDatepicker]="picker"
  [(ngModel)]="lastWatered"
  placeholder="Select Date"
  name="lastWatered"
/>
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>

<br />

<h4>Move plant to different collection</h4>
<mat-form-field appearance="fill">
  <mat-label>Select a collection</mat-label>
  <mat-select [(ngModel)]="selectedCollectionId" name="collection">
    <mat-option
      *ngFor="let collection of collections"
      [value]="collection.id"
      [disabled]="collection.id === selectedPlant.collectionId"
    >
      {{ collection.name }}
      <span *ngIf="collection.id === selectedPlant.collectionId">
        (current)</span
      >
    </mat-option>
  </mat-select>
</mat-form-field>

<button
  class="clear"
  mat-raised-button
  color="warn"
  (click)="saveChanges()"
  [disabled]="isSaving"
>
  {{ isSaving ? "Saving…" : "Confirm" }}
</button>
