<button class="close-btn" (click)="closeModal()">X</button>
<h2 class="addHeader">Add Plants to {{ collection?.name }}</h2>
<h3 class="instructions">
  Search or add your own plants, then click the + button.
  Finish by clicking Add.
</h3>
<mat-divider></mat-divider>

<form class="example-form">
  <mat-form-field>
    <input
      matInput
      placeholder="Search for a plant"
      [formControl]="plantSearch"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onPlantSelected($event)"
    >
      <mat-option *ngFor="let plant of filteredOptions | async" [value]="plant">
        {{ plant }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="input-with-button">
    <mat-form-field>
      <input
        matInput
        placeholder="Add your own"
        [formControl]="customPlantInput"
        (keyup.enter)="addCustomPlant()"
      />
    </mat-form-field>
    <button
      class="addPlant"
      mat-icon-button
      matSuffix
      (click)="addCustomPlant()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="selectedPlants.length > 0" class="selected-plants">
    <h3>Selected Plants</h3>
    <div *ngFor="let plant of selectedPlants">{{ plant.scientific_name }}</div>
  </div>

  <div class="btns">
    <button class="plant-btn" (click)="addPlants(collectionId)">
      Add
    </button>
    <button class="clear" (click)="clearSelections()">
      Clear
    </button>
  </div>
</form>
