.news-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
  }
}
.close-btn {
  width: 10vw;
  height: 5vh;
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}
.close-news-btn {
  width: 10vw;
  height: 5vh;
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}
