<div *ngIf="collection">
  <h2 class="collection-name">{{ collection.name }}</h2>
  <div class="plant-count">{{ plantCount }} plants</div>
  <p>Today's Date: {{ today | date : "MMM d" }}</p>
  <mat-slide-toggle
    id="toggleFertilize"
    [(ngModel)]="showFertilizeFlag"
    (change)="toggleFertilize($event)"
  >
    {{ showFertilizeFlag ? "Hide Fertilize" : "Show Fertilize" }}
  </mat-slide-toggle>

  <!-- <p>Created on: {{ collection.date_created | date }}</p> -->
</div>
<mat-divider></mat-divider>
<div id="toast" class="toast">Plant added successfully!</div>

<!-- Table of plants-->
<!-- <mat-form-field class="filter-input">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Snake Plant"
    #input
  />
</mat-form-field> -->

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="font-size: 0.8em">Name</th>
      <td mat-cell *matCellDef="let plant">
        {{ plant.nickname || plant.common_name }}
      </td>
    </ng-container>

    <!-- Last Watered Column -->
    <ng-container matColumnDef="last_watered">
      <th mat-header-cell *matHeaderCellDef style="font-size: 0.8em">
        Last Watered
      </th>
      <td mat-cell *matCellDef="let plant">
        {{ plant.last_watered | date : "MMM d, y" }}
      </td>
    </ng-container>

    <!-- Last Fertilized Column (Hidden when toggle is OFF) -->
    <ng-container *ngIf="showFertilizeFlag" matColumnDef="last_fertilized">
      <th mat-header-cell *matHeaderCellDef style="font-size: 0.8em">
        Last Fertilized
      </th>
      <td mat-cell *matCellDef="let plant">
        {{ plant.last_fertilized | date : "MMM d, y" }}
      </td>
    </ng-container>

    <!-- Times Watered Column -->
    <ng-container matColumnDef="times_watered">
      <th mat-header-cell *matHeaderCellDef style="font-size: 0.8em">
        Times Watered
      </th>
      <td mat-cell *matCellDef="let plant">
        {{ plant.times_watered }}
      </td>
    </ng-container>

    <!-- Water Column -->
    <ng-container matColumnDef="water">
      <th mat-header-cell *matHeaderCellDef style="font-size: 0.9em">
        Water / Fertilize
      </th>
      <td mat-cell *matCellDef="let element" style="width: 18vw">
        <div
          style="
            display: flex;
            gap: 8px;
            justify-content: center;
            align-items: center;
          "
        >
          <!-- Water Button -->
          <button class="water-btn" mat-button (click)="waterPlant(element)">
            {{ element.watered ? "Watered" : "Water" }}
            <span class="material-icons">
              {{ element.watered ? "check_circle" : "water_drop" }}
            </span>
          </button>

          <!-- Fertilize Button (Hidden when toggle is OFF) -->
          <button
            *ngIf="showFertilizeFlag"
            class="fertilize-btn"
            mat-button
            (click)="fertilizePlant(element)"
          >
            <!-- Fertilize -->
            <span class="material-icons">eco</span>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Fertilize Column -->
    <!-- <ng-container matColumnDef="fertilize">
      <th mat-header-cell *matHeaderCellDef style="font-size: 0.9em">
        Fertilize
      </th>
      <td mat-cell *matCellDef="let element" style="width: 15%"></td>
    </ng-container> -->

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let plant">
        <span [matMenuTriggerFor]="menu">
          <span class="material-icons"> more_vert </span>
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editPlant(plant)">
            <mat-icon>edit</mat-icon>
            <span>Edit {{ plant.name }}</span>
          </button>
          <button mat-menu-item (click)="deletePlant(plant)">
            <mat-icon>delete</mat-icon>
            <span>Delete {{ plant.name }}</span>
          </button>
          <!-- Add more options here as needed -->
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 50]"
    aria-label="Select page of plants"
  ></mat-paginator>
</div>
<mat-divider></mat-divider>

<mat-accordion>
  <mat-expansion-panel style="margin-top: 1vh">
    <mat-expansion-panel-header>
      <mat-panel-title>Add Plants</mat-panel-title>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-form-field>
        <input
          matInput
          placeholder="Search for a plant"
          [formControl]="plantSearch"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onPlantSelected($event)"
        >
          <mat-option
            *ngFor="let plant of filteredOptions | async"
            [value]="plant"
          >
            {{ plant }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- Custom plant input -->
      <div class="input-with-button">
        <mat-form-field>
          <input
            class="custom-input"
            matInput
            placeholder="Or add your own"
            [formControl]="customPlantInput"
            (keyup.enter)="addCustomPlant()"
          />
        </mat-form-field>
        <button mat-icon-button matSuffix (click)="addCustomPlant()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div *ngIf="selectedPlants.length > 0">
        <h3>Selected Plants to be added</h3>
        <div *ngFor="let plant of selectedPlants">
          {{ plant.scientific_name }} - Quantity: {{ plant.quantity }}
          <button mat-button (click)="adjustQuantity(plant.scientific_name, 1)">
            +
          </button>
          <button
            mat-button
            (click)="adjustQuantity(plant.scientific_name, -1)"
          >
            -
          </button>
        </div>
      </div>
      <div class="btns">
        <button
          class="plant-btn"
          mat-raised-button
          (click)="addPlants(collectionId)"
        >
          Add
          <span class="material-icons"> add </span>
        </button>

        <button
          class="clear"
          mat-raised-button
          color="warn"
          (click)="clearSelections()"
        >
          Clear
          <span class="material-icons"> clear </span>
        </button>
      </div>
    </form>
    <br /><br />
  </mat-expansion-panel>
</mat-accordion>
<div class="toolbar">
  <button (click)="home()" class="toolbar-btn">
    <span class="material-icons"> home </span>
  </button>
  <button (click)="logout()" class="toolbar-btn">
    <span class="material-icons"> logout </span>
  </button>
</div>
