/* General Styles */
button {
  cursor: pointer;
  border: 0;
  margin: 8px;
  padding: 8px;
  border-radius: 3px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  background: #333;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

span {
  display: block;
  position: relative;
  z-index: 1;
}

span::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  background: rgba(255, 255, 255, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transform: scale(0);
}

button:focus:not(:active) span::after {
  animation: circleGrow 0.3s linear;
}

@keyframes circleGrow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.create-collection {
  background: #41a85f;
  width: 25vw;
  margin-bottom: 2em;
}

.collection-item {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  height: 12vh;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  margin-bottom: 2vh;
}

.collection-name {
  font-size: 1.5rem;
}

.collections {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

h2,
.create-collection,
.list-form,
.collection-list {
  text-align: center; /* Centers text inside elements */
}

h2 {
  margin-top: 2vh;
}

h3 {
  font-size: 1.2em;
  margin-left: 2em;
}

.toolbar {
  position: fixed;
  right: 5vw;
  bottom: 7vh;
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 0.3rem; /* Adds space between buttons */
}

/* Collection List Styles with Grid Layout */
.collection-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  padding: 1rem;
  justify-items: center; /* Centers items within each grid cell */
  width: 100%; /* Ensure collection list takes full width */
}

/* Media Queries for Responsive Layout */
@media (max-width: 768px) {
  .collection-list {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 items per row on medium screens */
  }
}

.form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 50%;
  margin-top: 5vh;
  margin-left: 20vw;
}

/* iPhone XR, 11 (6.1-inch screen) */
@media only screen and (min-device-width: 380px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
  .form {
    margin: auto;
    width: 80vw;
    margin-top: 5vh;
  }

  .totalPlantCount {
    margin-top: -3vh;
    margin-bottom: 5vh;

  }

  .toolbar {
    position: fixed;
    right: 5vw;
    bottom: 7vh;
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 0.3rem; /* Adds space between buttons */
  }

  .collection-list {
    margin-top: -7vh;
    width: 30vw;
    margin-right: 20vw;
  }
  .collection-item {
    height: 10vh;
    width: 45vw;
    margin-bottom: 1vh;
  }

  .collection-name {
    font-size: 1.1rem;
  }
  .date {
    font-size: 0.8rem;
  }
}
.notification-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
